div{
    max-width: 500px;
  }

  .box2{
    display: flex;
    /* background-color: blue; */
    justify-content: center;
   
  }

  #percent{
    border: solid black 1px;

    margin-right:10px;
  }

  #percent_of{
    border: solid black 1px;
    margin-left: 10px;
  }

  #equals{
    border: solid black 1px;
    text-align: center;
  }